<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OH WHAT A NIGHT</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>

    <audio src="music.mp3" autoplay>
    </audio>

    <div class="first">
      <h1>OH, WHAT A NIGHT</h1>
    </div>
    <div class="second">
      <h1>LATE DECEMBER, BACK IN 63</h1>
    </div>
    <div class="third">
      <h1>WHAT A VERY SPECIAL TIME FOR ME</h1>
    </div>
    <div class="fourth">
      <h1>AS I REMEBER, OH WHAT A NIGHT</h1>
    </div>

  </body>
</html>
